@import '../../styles/variables.scss';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-header {
  text-align: center;

  h1 {
    font-size: 2rem;
    color: $primary-color;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
    color: $primary-color-light;
    margin: 0;
  }
}

.product-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.product-image {
  flex: 1;
  max-width: 500px;
  img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.product-details {
  flex: 2;
  margin-left: 20px;

  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .selectors {
    p {
      margin: 0;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;  // Add this line to enable wrapping
      justify-content: center;  // Ensure buttons are centered
      gap: 4px;  // Adjust gap for spacing between buttons

      button {
        flex-grow: 1;
        flex-basis: calc(100%/6 - 8px);  // Adjust this percentage to control the width and ensure even distribution
        text-wrap: nowrap;
      }

      .selected {
        background-color: $primary-color;
        color: $secondary-logo-color;
      }
    }

    margin-bottom: 10px;
  }

  .product-attributes {
    width: 100%;
    border-collapse: collapse;

    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  }

  .savingsButton {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: $primary-color-light;
    }
  }

  .purchase-quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;

    input {
      width: 60px;
      text-align: center;
      border: 1px solid #ddd;
      padding: 10px;
      font-size: 1rem;
      color: black;
    }
  }
}
